# Champlin Smith Milestone #5

In [78]:
import sqlite3

def get_connection(db_name="project_database.db"):
    conn = sqlite3.connect(db_name)
    return conn

In [ ]:
import pandas as pd

df = pd.read_csv('C:\\Users\\champ\\OneDrive\\Documents\\MS Data Science\\DSC680 Applied Data Science\\DSC680\\CDCBMI\\ACSST1Y2023.S1501-2025-06-01T175425.csv')
conn = sqlite3.connect('project_database.db')
df.to_sql('education_data', conn, if_exists='replace', index=False)

<>:3: SyntaxWarning: invalid escape sequence '\O'
<>:3: SyntaxWarning: invalid escape sequence '\O'
C:\Users\champ\AppData\Local\Temp\ipykernel_1456\2086401931.py:3: SyntaxWarning: invalid escape sequence '\O'
  df = pd.read_csv('C:\\Users\\champ\OneDrive\\Documents\\MS Data Science\\DSC540 Data Preparation\\ACSST1Y2023.S1501-2025-06-01T175425.csv')

52

In [80]:
def print_all_education_data(db_name="education.db"):
    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()

    cursor.execute("SELECT * FROM education_data")
    rows = cursor.fetchall()

    for row in rows:
        print(row)

    conn.close()

# Call the function to print all rows
print_all_education_data()

('Alabama', '479,855', '51,796', '182,028', '194,385', '51,646', '3,498,967', '121,630', '258,272', '1,052,554', '733,923', '321,748', '616,025', '394,815', '3,119,065', '1,010,840', '644,517', '597,617', '201,926', '649,252', '581,414', '211,253', '1,273,079', '1,123,198', '358,913', '932,119', '816,836', '238,748', '45,781', '29,479', '36,615', '41,938', '60,156', '70,682')
('Alaska', '65,148', '8,523', '33,859', '19,964', '2,802', '493,892', '11,376', '22,085', '143,607', '115,592', '42,025', '99,091', '60,116', '460,431', '159,207', '111,850', '103,350', '31,042', '110,131', '104,675', '41,692', '168,913', '158,248', '54,119', '102,998', '94,158', '32,354', '53,103', '35,109', '43,086', '49,114', '67,221', '86,402')
('Arizona', '701,011', '97,858', '258,209', '265,769', '79,175', '5,150,254', '238,234', '308,931', '1,202,651', '1,203,684', '470,638', '1,051,136', '674,980', '4,603,089', '1,726,116', '1,026,988', '946,943', '345,051', '942,328', '837,677', '335,889', '1,743,207', '1,525,318', '583,754', '1,437,731', '1,293,151', '461,422', '50,828', '32,052', '40,648', '46,493', '66,683', '81,942')
('Arkansas', '288,490', '37,090', '111,568', '108,757', '31,075', '2,078,254', '80,265', '143,133', '710,230', '423,270', '177,336', '345,836', '198,184', '1,854,856', '544,020', '393,194', '364,470', '111,726', '399,179', '356,673', '121,529', '734,975', '647,240', '185,982', '550,906', '486,473', '124,783', '42,469', '30,687', '36,012', '40,728', '56,314', '70,510')
('California', '3,558,215', '347,978', '1,286,395', '1,459,490', '464,352', '26,969,649', '2,341,160', '1,753,074', '5,505,182', '5,142,978', '2,116,930', '6,137,666', '3,972,659', '22,875,415', '10,110,325', '5,670,629', '5,207,446', '2,364,900', '5,460,310', '4,724,405', '2,260,882', '9,526,791', '7,739,016', '3,352,384', '6,311,919', '5,204,548', '2,132,159', '54,363', '31,490', '40,803', '49,673', '78,278', '104,353')
('Colorado', '531,807', '57,182', '190,419', '205,447', '78,759', '4,135,123', '120,666', '157,178', '798,897', '797,481', '340,844', '1,170,106', '749,951', '3,857,279', '1,920,057', '928,003', '884,480', '455,165', '874,611', '809,352', '429,519', '1,387,967', '1,276,836', '627,956', '944,542', '886,611', '407,417', '59,076', '39,959', '42,541', '49,707', '73,072', '86,024')
('Connecticut', '334,630', '30,815', '114,336', '124,122', '65,357', '2,559,922', '94,357', '116,657', '653,609', '397,786', '199,198', '591,246', '507,069', '2,348,908', '1,098,315', '450,467', '425,577', '216,716', '469,414', '430,214', '226,932', '950,010', '876,025', '406,195', '690,031', '617,092', '248,472', '60,473', '32,471', '42,120', '49,709', '75,975', '91,993')
('Delaware', '88,538', '10,256', '34,578', '34,083', '9,621', '731,427', '23,995', '39,022', '208,160', '133,387', '60,161', '153,565', '113,137', '668,410', '266,702', '124,961', '114,380', '47,373', '128,689', '116,130', '53,032', '257,820', '236,701', '90,947', '219,957', '201,199', '75,350', '51,089', '31,982', '38,872', '46,422', '64,157', '84,475')
('District of Columbia', '69,527', '5,926', '14,978', '26,539', '22,084', '482,919', '15,862', '19,161', '63,274', '53,895', '12,270', '129,951', '188,506', '447,896', '318,457', '144,710', '138,540', '112,802', '114,104', '110,604', '87,501', '135,109', '120,432', '73,965', '88,996', '78,320', '44,189', '93,761', '36,900', '40,715', '56,964', '95,628', '122,926')
('Florida', '1,809,840', '225,627', '635,050', '735,628', '213,535', '16,421,870', '677,352', '924,156', '4,404,157', '3,028,642', '1,653,669', '3,550,180', '2,183,714', '14,820,362', '5,733,894', '2,814,633', '2,599,491', '1,020,157', '2,901,598', '2,611,212', '1,115,185', '5,787,857', '5,241,559', '2,013,321', '4,917,782', '4,368,100', '1,585,231', '46,301', '30,360', '36,384', '42,629', '58,009', '76,981')
('Georgia', '1,046,760', '137,364', '407,519', '385,702', '116,175', '7,448,119', '317,562', '476,774', '1,955,787', '1,441,341', '618,860', '1,585,916', '1,051,879', '6,653,783', '2,637,795', '1,516,617', '1,387,523', '574,515', '1,486,916', '1,328,846', '575,568', '2,745,336', '2,457,024', '988,308', '1,699,250', '1,480,390', '499,404', '49,406', '31,156', '36,820', '43,051', '64,185', '81,353')
('Hawaii', '116,354', '10,667', '49,872', '43,239', '12,576', '1,024,897', '29,345', '42,485', '269,469', '192,004', '112,385', '237,228', '141,981', '953,067', '379,209', '185,753', '174,301', '67,895', '192,516', '183,140', '82,845', '343,276', '318,963', '121,937', '303,352', '276,663', '106,532', '51,524', '32,456', '41,038', '47,067', '61,448', '80,803')
('Idaho', '192,631', '27,294', '70,579', '80,558', '14,200', '1,305,704', '38,851', '63,520', '338,616', '321,093', '123,937', '281,799', '137,888', '1,203,333', '419,687', '254,318', '234,885', '79,586', '258,809', '239,021', '96,681', '450,318', '411,738', '144,121', '342,259', '317,689', '99,299', '47,035', '35,771', '38,530', '42,129', '57,342', '77,490')
('Illinois', '1,137,066', '118,624', '411,424', '426,876', '180,142', '8,710,996', '388,438', '434,550', '2,204,015', '1,644,982', '704,637', '1,983,481', '1,350,893', '7,888,008', '3,334,374', '1,682,224', '1,596,039', '784,595', '1,678,404', '1,536,308', '750,621', '3,144,538', '2,803,040', '1,131,081', '2,205,830', '1,952,621', '668,077', '53,090', '34,096', '40,285', '46,555', '71,127', '86,416')
('Indiana', '666,323', '91,869', '260,128', '227,643', '86,683', '4,614,970', '166,617', '274,402', '1,484,039', '871,870', '423,644', '882,311', '512,087', '4,173,951', '1,394,398', '892,860', '812,725', '311,815', '878,779', '795,887', '311,469', '1,661,763', '1,507,757', '484,469', '1,181,568', '1,057,582', '286,645', '48,641', '33,420', '39,496', '46,180', '60,573', '74,916')
('Iowa', '315,032', '33,453', '109,281', '132,392', '39,906', '2,166,425', '62,333', '83,155', '648,610', '423,865', '264,962', '452,714', '230,786', '2,020,937', '683,500', '398,626', '375,916', '149,517', '410,413', '379,901', '151,467', '762,498', '708,365', '228,740', '594,888', '556,755', '153,776', '49,828', '34,315', '40,533', '45,703', '60,754', '75,037')
('Kansas', '297,531', '32,469', '101,580', '124,158', '39,324', '1,956,252', '64,565', '98,165', '490,655', '419,964', '182,190', '438,965', '261,748', '1,793,522', '700,713', '377,828', '350,322', '142,646', '387,801', '354,625', '158,257', '672,258', '613,038', '239,573', '518,365', '475,537', '160,237', '48,154', '34,079', '37,333', '41,745', '60,620', '71,844')
('Kentucky', '407,142', '44,906', '166,279', '150,175', '45,782', '3,107,275', '127,723', '197,285', '1,026,377', '606,140', '284,485', '506,856', '358,409', '2,782,267', '865,265', '595,668', '552,120', '189,968', '569,759', '520,833', '194,540', '1,137,080', '1,017,799', '300,069', '804,768', '691,515', '180,688', '45,640', '27,658', '36,636', '42,365', '60,185', '67,332')
('Louisiana', '407,420', '57,179', '146,220', '168,416', '35,605', '3,102,893', '132,368', '245,849', '1,026,301', '627,075', '233,782', '525,591', '311,927', '2,724,676', '837,518', '589,465', '533,930', '170,823', '622,533', '551,609', '192,781', '1,096,304', '957,277', '281,634', '794,591', '681,860', '192,280', '44,339', '28,345', '36,132', '41,417', '57,107', '68,554')
('Maine', '110,484', '10,827', '42,424', '42,013', '15,220', '1,039,460', '18,704', '34,203', '305,234', '187,281', '109,495', '241,654', '142,889', '986,553', '384,543', '168,265', '162,776', '69,523', '175,757', '169,209', '70,505', '375,318', '355,577', '131,610', '320,120', '298,991', '112,905', '49,548', '36,005', '40,817', '45,440', '55,592', '72,693')
('Maryland', '523,893', '70,153', '179,596', '196,240', '77,904', '4,297,439', '175,738', '204,242', '1,025,379', '710,628', '301,452', '964,064', '915,936', '3,917,459', '1,880,000', '792,152', '735,262', '365,015', '850,476', '779,589', '422,719', '1,588,173', '1,445,510', '682,942', '1,066,638', '957,098', '409,324', '61,901', '36,146', '42,778', '52,094', '76,748', '101,230')
('Massachusetts', '684,808', '62,127', '221,412', '255,221', '146,048', '4,975,152', '216,681', '211,654', '1,135,009', '672,483', '362,116', '1,261,847', '1,115,362', '4,546,817', '2,377,209', '966,446', '907,887', '552,975', '927,387', '858,955', '499,402', '1,788,435', '1,638,764', '828,916', '1,292,884', '1,141,211', '495,916', '65,055', '32,493', '43,761', '51,190', '79,985', '99,844')
('Michigan', '918,934', '113,072', '333,215', '356,539', '116,108', '7,007,856', '184,918', '373,459', '1,941,922', '1,540,409', '677,286', '1,395,186', '894,676', '6,449,479', '2,289,862', '1,314,352', '1,225,253', '486,564', '1,229,453', '1,130,603', '471,638', '2,531,826', '2,332,244', '812,232', '1,932,225', '1,761,379', '519,428', '49,307', '32,015', '36,823', '42,435', '64,810', '81,852')
('Minnesota', '501,365', '56,370', '167,907', '195,645', '81,443', '3,941,575', '99,038', '124,785', '919,678', '754,061', '467,807', '1,022,673', '553,533', '3,717,752', '1,576,206', '739,675', '702,945', '345,285', '784,774', '740,101', '355,213', '1,391,198', '1,311,456', '549,253', '1,025,928', '963,250', '326,455', '56,612', '36,832', '42,435', '50,406', '71,254', '83,613')
('Mississippi', '284,309', '33,463', '103,958', '122,560', '24,328', '1,980,147', '81,217', '161,212', '582,307', '427,986', '221,753', '307,215', '198,457', '1,737,718', '505,672', '350,728', '320,405', '98,699', '389,028', '340,817', '108,074', '723,899', '638,908', '180,190', '516,492', '437,588', '118,709', '41,175', '28,257', '32,125', '39,281', '52,266', '60,782')
('Missouri', '569,007', '61,916', '212,000', '221,714', '73,377', '4,255,810', '112,699', '227,112', '1,250,614', '882,603', '368,798', '860,267', '553,717', '3,915,999', '1,413,984', '806,773', '758,799', '301,062', '800,294', '741,646', '309,156', '1,510,246', '1,385,024', '490,772', '1,138,497', '1,030,530', '312,994', '47,569', '31,777', '37,420', '43,300', '61,418', '72,423')
('Montana', '101,405', '13,923', '40,330', '37,306', '9,846', '795,845', '14,137', '30,213', '222,744', '170,099', '83,117', '180,347', '95,188', '751,495', '275,535', '144,635', '137,041', '48,742', '150,709', '141,386', '55,763', '268,551', '254,069', '91,515', '231,950', '218,999', '79,515', '46,301', '34,233', '39,263', '41,797', '54,642', '70,066')
('Nebraska', '192,539', '19,536', '64,891', '82,495', '25,617', '1,307,246', '48,270', '47,800', '324,140', '276,934', '148,822', '298,782', '162,498', '1,211,176', '461,280', '254,207', '239,244', '101,654', '262,121', '240,956', '105,922', '449,993', '413,728', '159,538', '340,925', '317,248', '94,166', '50,478', '39,451', '39,565', '45,546', '61,239', '72,775')
('Nevada', '256,407', '39,741', '111,927', '81,894', '22,845', '2,253,253', '123,326', '152,978', '604,973', '527,270', '197,555', '421,005', '226,146', '1,976,949', '647,151', '455,592', '414,787', '130,074', '446,735', '389,564', '135,056', '796,067', '684,011', '225,434', '554,859', '488,587', '156,587', '46,956', '35,789', '39,090', '45,855', '60,775', '83,420')
('New Hampshire', '120,374', '10,728', '43,859', '47,697', '18,090', '1,030,965', '17,225', '40,771', '278,782', '173,672', '100,414', '253,142', '166,959', '972,969', '420,101', '176,155', '168,863', '82,047', '179,806', '170,960', '81,681', '385,046', '364,438', '151,212', '289,958', '268,708', '105,161', '59,090', '43,513', '47,266', '51,883', '71,325', '86,168')
('New Jersey', '770,595', '81,485', '252,457', '280,269', '156,384', '6,511,081', '308,958', '298,565', '1,638,822', '973,477', '440,974', '1,712,683', '1,137,602', '5,903,558', '2,850,285', '1,182,680', '1,124,404', '614,866', '1,238,614', '1,129,743', '629,962', '2,443,010', '2,208,089', '1,029,531', '1,646,777', '1,441,322', '575,926', '61,141', '33,066', '41,528', '50,275', '80,114', '101,149')
('New Mexico', '194,756', '29,818', '78,465', '68,663', '17,810', '1,471,057', '84,624', '99,276', '369,453', '318,108', '134,035', '257,431', '208,130', '1,287,157', '465,561', '276,825', '253,271', '80,850', '276,085', '239,554', '88,669', '496,375', '429,535', '151,674', '421,772', '364,797', '144,368', '42,156', '28,500', '33,075', '38,978', '55,421', '74,674')
('New York', '1,735,312', '162,045', '540,212', '693,341', '339,714', '13,885,155', '812,044', '808,751', '3,366,650', '2,005,103', '1,249,700', '3,136,170', '2,506,737', '12,264,360', '5,642,907', '2,734,288', '2,544,714', '1,405,395', '2,552,527', '2,283,314', '1,211,255', '4,962,839', '4,363,383', '1,854,457', '3,635,501', '3,072,949', '1,171,800', '55,643', '30,707', '39,771', '47,596', '74,504', '91,457')
('North Carolina', '1,025,440', '114,126', '369,469', '404,405', '137,440', '7,487,552', '279,296', '426,560', '1,831,714', '1,440,865', '754,196', '1,718,641', '1,036,280', '6,781,696', '2,754,921', '1,443,771', '1,348,031', '572,875', '1,404,906', '1,265,526', '596,616', '2,723,519', '2,459,184', '986,228', '1,915,356', '1,708,955', '599,202', '48,491', '30,665', '36,723', '41,941', '62,338', '77,838')
('North Dakota', '84,320', '8,031', '24,586', '40,350', '11,353', '520,006', '10,449', '17,968', '126,581', '118,790', '71,744', '121,205', '53,269', '491,589', '174,474', '114,831', '110,326', '42,609', '106,705', '101,250', '43,784', '164,515', '156,865', '54,480', '133,955', '123,148', '33,601', '52,196', '39,889', '41,665', '50,273', '61,164', '75,821')
('Ohio', '1,042,622', '125,539', '413,231', '370,837', '133,015', '8,172,692', '217,583', '446,159', '2,597,987', '1,544,601', '748,317', '1,578,402', '1,039,643', '7,508,950', '2,618,045', '1,550,786', '1,445,363', '570,409', '1,481,854', '1,373,733', '572,590', '2,926,055', '2,692,597', '911,396', '2,213,997', '1,997,257', '563,650', '50,072', '31,513', '37,990', '44,817', '64,933', '80,099')
('Oklahoma', '403,659', '60,764', '160,366', '146,441', '36,088', '2,684,421', '103,777', '173,340', '820,564', '594,188', '221,742', '498,843', '271,967', '2,407,304', '770,810', '540,127', '492,573', '159,323', '539,268', '480,802', '167,634', '928,041', '826,297', '261,929', '676,985', '607,632', '181,924', '44,059', '30,289', '35,929', '41,685', '55,663', '68,832')
('Oregon', '352,882', '39,752', '139,987', '131,153', '41,990', '3,050,675', '96,719', '147,981', '672,703', '700,438', '284,196', '715,933', '432,705', '2,805,975', '1,148,638', '591,892', '548,843', '225,807', '600,748', '550,437', '253,332', '1,030,161', '934,823', '383,561', '827,874', '771,872', '285,938', '51,388', '33,681', '39,308', '45,326', '67,100', '86,858')
('Pennsylvania', '1,166,048', '126,314', '454,100', '429,184', '156,450', '9,171,006', '257,762', '458,209', '3,034,070', '1,362,057', '817,565', '1,921,489', '1,319,854', '8,455,035', '3,241,343', '1,651,405', '1,552,762', '698,905', '1,660,159', '1,544,168', '713,432', '3,261,488', '3,004,867', '1,100,048', '2,597,954', '2,353,238', '728,958', '51,475', '32,598', '40,336', '46,281', '65,678', '83,961')
('Rhode Island', '106,212', '9,952', '37,883', '41,674', '16,703', '786,493', '41,587', '40,463', '207,550', '129,717', '60,077', '182,054', '125,045', '704,443', '307,099', '153,786', '143,742', '70,468', '142,930', '133,200', '65,564', '277,401', '245,742', '100,565', '212,376', '181,759', '70,502', '55,673', '31,766', '43,157', '51,094', '68,084', '87,103')
('South Carolina', '485,923', '57,869', '192,238', '182,584', '53,232', '3,745,394', '124,307', '242,615', '1,056,098', '731,088', '358,438', '765,869', '466,979', '3,378,472', '1,232,848', '677,457', '620,224', '235,657', '688,903', '620,290', '255,335', '1,340,940', '1,220,875', '431,111', '1,038,094', '917,083', '310,745', '46,397', '30,029', '36,740', '42,277', '60,590', '68,792')
('South Dakota', '84,994', '13,707', '28,536', '32,480', '10,271', '615,517', '15,422', '24,868', '170,305', '125,759', '74,196', '141,083', '63,884', '575,227', '204,967', '114,987', '106,712', '41,482', '118,255', '111,393', '42,991', '212,689', '199,660', '70,636', '169,586', '157,462', '49,858', '47,960', '29,330', '39,793', '45,724', '56,517', '67,405')
('Tennessee', '631,162', '63,865', '240,068', '235,843', '91,386', '4,931,967', '190,711', '295,929', '1,529,501', '957,443', '395,771', '952,495', '610,117', '4,445,327', '1,562,612', '978,478', '911,324', '359,337', '935,375', '846,049', '339,068', '1,771,518', '1,594,631', '540,575', '1,246,596', '1,093,323', '323,632', '47,036', '30,634', '37,693', '42,844', '61,189', '74,239')
('Texas', '2,933,597', '385,174', '1,100,264', '1,116,182', '331,977', '20,029,447', '1,415,920', '1,320,621', '4,852,745', '3,968,757', '1,612,998', '4,324,866', '2,533,540', '17,292,906', '6,858,406', '4,380,452', '4,005,658', '1,592,788', '4,351,283', '3,817,214', '1,665,009', '7,102,722', '5,972,566', '2,332,140', '4,194,990', '3,497,468', '1,268,469', '50,193', '30,388', '37,086', '45,447', '66,474', '83,517')
('Utah', '398,810', '44,781', '137,108', '181,329', '35,592', '2,085,019', '61,386', '82,833', '461,960', '476,973', '201,491', '513,565', '286,811', '1,940,800', '800,376', '506,590', '481,159', '199,754', '468,194', '434,721', '200,308', '694,486', '637,223', '257,025', '415,749', '387,697', '143,289', '52,189', '36,901', '41,940', '46,700', '63,247', '92,065')
('Vermont', '61,383', '5,428', '23,088', '25,162', '7,705', '471,255', '6,938', '14,252', '127,628', '75,063', '41,567', '118,611', '87,196', '450,065', '205,807', '76,173', '73,642', '34,681', '81,880', '79,302', '42,329', '169,781', '161,785', '72,849', '143,421', '135,336', '55,948', '52,216', '39,571', '43,810', '47,566', '56,741', '72,957')
('Virginia', '806,182', '70,989', '298,516', '308,747', '127,930', '6,037,339', '213,181', '303,286', '1,452,078', '1,044,919', '462,513', '1,446,760', '1,114,602', '5,520,872', '2,561,362', '1,162,172', '1,098,315', '504,628', '1,208,026', '1,118,874', '581,653', '2,168,210', '1,973,041', '932,727', '1,498,931', '1,330,642', '542,354', '56,944', '32,661', '41,061', '47,086', '74,468', '99,947')
('Washington', '654,491', '77,207', '249,390', '233,061', '94,833', '5,511,197', '178,043', '242,948', '1,188,673', '1,131,507', '540,688', '1,340,967', '888,371', '5,090,206', '2,229,338', '1,178,336', '1,106,030', '520,697', '1,141,668', '1,054,345', '520,452', '1,852,063', '1,686,079', '698,105', '1,339,130', '1,243,752', '490,084', '61,328', '36,828', '44,866', '52,013', '78,485', '102,656')
('West Virginia', '159,210', '17,804', '69,202', '56,759', '15,445', '1,259,219', '41,525', '97,196', '500,120', '210,631', '107,668', '182,741', '119,338', '1,120,498', '302,079', '206,253', '187,015', '54,778', '213,616', '196,695', '63,484', '459,158', '409,274', '105,379', '380,192', '327,514', '78,438', '43,837', '31,134', '35,532', '40,817', '56,648', '65,778')
('Wisconsin', '550,661', '50,842', '208,435', '217,166', '74,218', '4,116,216', '98,509', '162,413', '1,212,716', '790,574', '462,605', '914,463', '474,936', '3,855,294', '1,389,399', '741,724', '707,204', '294,883', '751,404', '705,855', '293,224', '1,489,693', '1,388,456', '491,550', '1,133,395', '1,053,779', '309,742', '51,525', '35,394', '41,604', '48,610', '64,320', '76,254')
('Wyoming', '50,239', '6,345', '20,119', '19,508', '4,267', '403,853', '8,408', '16,136', '111,034', '98,528', '46,871', '77,762', '45,114', '379,309', '122,876', '76,458', '72,019', '22,086', '82,098', '76,478', '27,434', '133,200', '125,428', '38,394', '112,097', '105,384', '34,962', '47,121', '40,433', '40,102', '41,392', '58,331', '70,537')
('Puerto Rico', '299,750', '20,395', '87,889', '158,347', '33,119', '2,407,254', '268,157', '164,791', '654,008', '279,555', '299,624', '524,456', '216,663', '1,974,306', '741,119', '406,466', '383,160', '157,127', '396,783', '358,560', '149,401', '833,144', '725,361', '271,858', '770,861', '507,225', '162,733', '22,390', '13,188', '16,957', '20,342', '30,562', '43,242')

In [ ]:
df = pd.read_csv('C:\\Users\\champ\\OneDrive\\Documents\\MS Data Science\\DSC680 Applied Data Science\\DSC680\\CDCBMI\\cleaned_population_data.csv')
conn = sqlite3.connect('project_database.db')
df.to_sql('population_data', conn, if_exists='replace', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\O'
<>:1: SyntaxWarning: invalid escape sequence '\O'
C:\Users\champ\AppData\Local\Temp\ipykernel_1456\3310215675.py:1: SyntaxWarning: invalid escape sequence '\O'
  df = pd.read_csv('C:\\Users\\champ\OneDrive\\Documents\\MS Data Science\\DSC540 Data Preparation\\cleaned_population_data.csv')

52

Cleaning the last data set

In [ ]:
import pandas as pd

# Load the CSV file
df = pd.read_csv('C:\\Users\\champ\\Downloads\\cdc_npao.csv')  # Replace with your actual file name

df = df.dropna(subset=['Sample_Size', 'YearStart'])

# Convert to numeric
df['Sample_Size'] = pd.to_numeric(df['Sample_Size'], errors='coerce')
df['YearStart'] = pd.to_numeric(df['YearStart'], errors='coerce')

# Drop rows where conversion failed
df = df.dropna(subset=['Sample_Size', 'YearStart'])

# Step 1: Filter for the most recent YearStart per LocationDesc
latest_year = df.loc[df.groupby('LocationDesc')['YearStart'].idxmax()]

# Step 2: From that filtered set, select the row with the highest Sample_Size per LocationDesc
final = latest_year.loc[latest_year.groupby('LocationDesc')['Sample_Size'].idxmax()]

# Optional: Reset index
final = final.reset_index(drop=True)

# Save to new CSV
final.to_csv('C:\\Users\\champ\\OneDrive\\Documents\\MS Data Science\\DSC680 Applied Data Science\\DSC680\\CDCBMI\\filtered_by_year_then_sample.csv', index=False)

print("Saved to 'filtered_by_year_then_sample.csv'")

Saved to 'filtered_by_year_then_sample.csv'

In [ ]:
df = pd.read_csv('C:\\Users\\champ\\OneDrive\\Documents\\MS Data Science\\DSC680 Applied Data Science\\DSC680\\CDCBMI\\filtered_by_year_then_sample.csv')
conn = sqlite3.connect('project_database.db')
df.to_sql('weight_data', conn, if_exists='replace', index=False)

<>:1: SyntaxWarning: invalid escape sequence '\O'
<>:1: SyntaxWarning: invalid escape sequence '\O'
C:\Users\champ\AppData\Local\Temp\ipykernel_1456\71489136.py:1: SyntaxWarning: invalid escape sequence '\O'
  df = pd.read_csv('C:\\Users\\champ\OneDrive\\Documents\\MS Data Science\\DSC540 Data Preparation\\filtered_by_year_then_sample.csv')

54

Merging data

In [ ]:
import sqlite3
import pandas as pd

# Paths to your databases
source_db = 'project_database.db'
output_db = 'final_project_merged_data.db'

# Connect to the source database
conn_source = sqlite3.connect(source_db)

# Read the joined data into a pandas DataFrame using LEFT JOIN on 'Area'
query = '''
SELECT e.*, p.*, weight_data.*
FROM education_data e
LEFT JOIN population_data p ON e.Area = p.State
LEFT JOIN weight_data ON e.Area = weight_data.LocationDesc
'''

df_merged = pd.read_sql_query(query, conn_source)
conn_source.close()

# Connect to the new database (this will create the file if it doesn't exist)
conn_output = sqlite3.connect(output_db)

# Write the merged dataframe to a new table called 'merged_data'
df_merged.to_sql('merged_data', conn_output, if_exists='replace', index=False)

conn_output.close()

print(f"Left join completed and saved to {output_db}")

Left join completed and saved to final_project_merged_data.db

In [88]:
merged_db = 'final_project_merged_data.db'

# Connect to the merged database
conn = sqlite3.connect(merged_db)

# Read the merged table into a DataFrame
df = pd.read_sql_query("SELECT * FROM merged_data", conn)

conn.close()

# Save DataFrame to Excel file
excel_file = 'final_merged_data.xlsx'
df.to_excel(excel_file, index=False)

print(f"Data exported successfully to {excel_file}")

Data exported successfully to final_merged_data.xlsx

In [98]:
output = pd.read_excel(excel_file)
print(output)

                    Area Population 18 to 24 years  \
0                Alabama                   479,855
1                 Alaska                    65,148
2                Arizona                   701,011
3               Arkansas                   288,490
4             California                 3,558,215
5               Colorado                   531,807
6            Connecticut                   334,630
7               Delaware                    88,538
8   District of Columbia                    69,527
9                Florida                 1,809,840
10               Georgia                 1,046,760
11                Hawaii                   116,354
12                 Idaho                   192,631
13              Illinois                 1,137,066
14               Indiana                   666,323
15                  Iowa                   315,032
16                Kansas                   297,531
17              Kentucky                   407,142
18             Louisiana                   407,420
19                 Maine                   110,484
20              Maryland                   523,893
21         Massachusetts                   684,808
22              Michigan                   918,934
23             Minnesota                   501,365
24           Mississippi                   284,309
25              Missouri                   569,007
26               Montana                   101,405
27              Nebraska                   192,539
28                Nevada                   256,407
29         New Hampshire                   120,374
30            New Jersey                   770,595
31            New Mexico                   194,756
32              New York                 1,735,312
33        North Carolina                 1,025,440
34          North Dakota                    84,320
35                  Ohio                 1,042,622
36              Oklahoma                   403,659
37                Oregon                   352,882
38          Pennsylvania                 1,166,048
39          Rhode Island                   106,212
40        South Carolina                   485,923
41          South Dakota                    84,994
42             Tennessee                   631,162
43                 Texas                 2,933,597
44                  Utah                   398,810
45               Vermont                    61,383
46              Virginia                   806,182
47            Washington                   654,491
48         West Virginia                   159,210
49             Wisconsin                   550,661
50               Wyoming                    50,239
51           Puerto Rico                   299,750

   Less than high school graduate High school graduate (includes equivalency)  \
0                          51,796                                     182,028
1                           8,523                                      33,859
2                          97,858                                     258,209
3                          37,090                                     111,568
4                         347,978                                   1,286,395
5                          57,182                                     190,419
6                          30,815                                     114,336
7                          10,256                                      34,578
8                           5,926                                      14,978
9                         225,627                                     635,050
10                        137,364                                     407,519
11                         10,667                                      49,872
12                         27,294                                      70,579
13                        118,624                                     411,424
14                         91,869                                     260,128
15                         33,453                                     109,281
16                         32,469                                     101,580
17                         44,906                                     166,279
18                         57,179                                     146,220
19                         10,827                                      42,424
20                         70,153                                     179,596
21                         62,127                                     221,412
22                        113,072                                     333,215
23                         56,370                                     167,907
24                         33,463                                     103,958
25                         61,916                                     212,000
26                         13,923                                      40,330
27                         19,536                                      64,891
28                         39,741                                     111,927
29                         10,728                                      43,859
30                         81,485                                     252,457
31                         29,818                                      78,465
32                        162,045                                     540,212
33                        114,126                                     369,469
34                          8,031                                      24,586
35                        125,539                                     413,231
36                         60,764                                     160,366
37                         39,752                                     139,987
38                        126,314                                     454,100
39                          9,952                                      37,883
40                         57,869                                     192,238
41                         13,707                                      28,536
42                         63,865                                     240,068
43                        385,174                                   1,100,264
44                         44,781                                     137,108
45                          5,428                                      23,088
46                         70,989                                     298,516
47                         77,207                                     249,390
48                         17,804                                      69,202
49                         50,842                                     208,435
50                          6,345                                      20,119
51                         20,395                                      87,889

   Some college or associate's degree Bachelor's degree or higher  \
0                             194,385                      51,646
1                              19,964                       2,802
2                             265,769                      79,175
3                             108,757                      31,075
4                           1,459,490                     464,352
5                             205,447                      78,759
6                             124,122                      65,357
7                              34,083                       9,621
8                              26,539                      22,084
9                             735,628                     213,535
10                            385,702                     116,175
11                             43,239                      12,576
12                             80,558                      14,200
13                            426,876                     180,142
14                            227,643                      86,683
15                            132,392                      39,906
16                            124,158                      39,324
17                            150,175                      45,782
18                            168,416                      35,605
19                             42,013                      15,220
20                            196,240                      77,904
21                            255,221                     146,048
22                            356,539                     116,108
23                            195,645                      81,443
24                            122,560                      24,328
25                            221,714                      73,377
26                             37,306                       9,846
27                             82,495                      25,617
28                             81,894                      22,845
29                             47,697                      18,090
30                            280,269                     156,384
31                             68,663                      17,810
32                            693,341                     339,714
33                            404,405                     137,440
34                             40,350                      11,353
35                            370,837                     133,015
36                            146,441                      36,088
37                            131,153                      41,990
38                            429,184                     156,450
39                             41,674                      16,703
40                            182,584                      53,232
41                             32,480                      10,271
42                            235,843                      91,386
43                          1,116,182                     331,977
44                            181,329                      35,592
45                             25,162                       7,705
46                            308,747                     127,930
47                            233,061                      94,833
48                             56,759                      15,445
49                            217,166                      74,218
50                             19,508                       4,267
51                            158,347                      33,119

   Population 25 years and over Less than 9th grade  \
0                     3,498,967             121,630
1                       493,892              11,376
2                     5,150,254             238,234
3                     2,078,254              80,265
4                    26,969,649           2,341,160
5                     4,135,123             120,666
6                     2,559,922              94,357
7                       731,427              23,995
8                       482,919              15,862
9                    16,421,870             677,352
10                    7,448,119             317,562
11                    1,024,897              29,345
12                    1,305,704              38,851
13                    8,710,996             388,438
14                    4,614,970             166,617
15                    2,166,425              62,333
16                    1,956,252              64,565
17                    3,107,275             127,723
18                    3,102,893             132,368
19                    1,039,460              18,704
20                    4,297,439             175,738
21                    4,975,152             216,681
22                    7,007,856             184,918
23                    3,941,575              99,038
24                    1,980,147              81,217
25                    4,255,810             112,699
26                      795,845              14,137
27                    1,307,246              48,270
28                    2,253,253             123,326
29                    1,030,965              17,225
30                    6,511,081             308,958
31                    1,471,057              84,624
32                   13,885,155             812,044
33                    7,487,552             279,296
34                      520,006              10,449
35                    8,172,692             217,583
36                    2,684,421             103,777
37                    3,050,675              96,719
38                    9,171,006             257,762
39                      786,493              41,587
40                    3,745,394             124,307
41                      615,517              15,422
42                    4,931,967             190,711
43                   20,029,447           1,415,920
44                    2,085,019              61,386
45                      471,255               6,938
46                    6,037,339             213,181
47                    5,511,197             178,043
48                    1,259,219              41,525
49                    4,116,216              98,509
50                      403,853               8,408
51                    2,407,254             268,157

   9th to 12th grade, no diploma  \
0                        258,272
1                         22,085
2                        308,931
3                        143,133
4                      1,753,074
5                        157,178
6                        116,657
7                         39,022
8                         19,161
9                        924,156
10                       476,774
11                        42,485
12                        63,520
13                       434,550
14                       274,402
15                        83,155
16                        98,165
17                       197,285
18                       245,849
19                        34,203
20                       204,242
21                       211,654
22                       373,459
23                       124,785
24                       161,212
25                       227,112
26                        30,213
27                        47,800
28                       152,978
29                        40,771
30                       298,565
31                        99,276
32                       808,751
33                       426,560
34                        17,968
35                       446,159
36                       173,340
37                       147,981
38                       458,209
39                        40,463
40                       242,615
41                        24,868
42                       295,929
43                     1,320,621
44                        82,833
45                        14,252
46                       303,286
47                       242,948
48                        97,196
49                       162,413
50                        16,136
51                       164,791

   High school graduate (includes equivalency).1  ...  \
0                                      1,052,554  ...
1                                        143,607  ...
2                                      1,202,651  ...
3                                        710,230  ...
4                                      5,505,182  ...
5                                        798,897  ...
6                                        653,609  ...
7                                        208,160  ...
8                                         63,274  ...
9                                      4,404,157  ...
10                                     1,955,787  ...
11                                       269,469  ...
12                                       338,616  ...
13                                     2,204,015  ...
14                                     1,484,039  ...
15                                       648,610  ...
16                                       490,655  ...
17                                     1,026,377  ...
18                                     1,026,301  ...
19                                       305,234  ...
20                                     1,025,379  ...
21                                     1,135,009  ...
22                                     1,941,922  ...
23                                       919,678  ...
24                                       582,307  ...
25                                     1,250,614  ...
26                                       222,744  ...
27                                       324,140  ...
28                                       604,973  ...
29                                       278,782  ...
30                                     1,638,822  ...
31                                       369,453  ...
32                                     3,366,650  ...
33                                     1,831,714  ...
34                                       126,581  ...
35                                     2,597,987  ...
36                                       820,564  ...
37                                       672,703  ...
38                                     3,034,070  ...
39                                       207,550  ...
40                                     1,056,098  ...
41                                       170,305  ...
42                                     1,529,501  ...
43                                     4,852,745  ...
44                                       461,960  ...
45                                       127,628  ...
46                                     1,452,078  ...
47                                     1,188,673  ...
48                                       500,120  ...
49                                     1,212,716  ...
50                                       111,034  ...
51                                       654,008  ...

   18 years and Older Number18 years and Older Percent LocationAbbr  \
0                                                78.0            AL
1                                                76.4            AK
2                                                79.1            AZ
3                                                77.3            AR
4                                                78.7            CA
5                                                79.6            CO
6                                                80.2            CT
7                                                79.7            DE
8                                                81.5            DC
9                                                80.7            FL
10                                               77.3            GA
11                                               79.7            HI
12                                               76.6            ID
13                                               78.8            IL
14                                               77.1            IN
15                                               77.5            IA
16                                               76.7            KS
17                                               77.6            KY
18                                               76.8            LA
19                                               82.4            ME
20                                               78.1            MD
21                                               81.0            MA
22                                               79.2            MI
23                                               77.6            MN
24                                               77.1            MS
25                                               78.0            MO
26                                               79.5            MT
27                                               75.9            NE
28                                               78.9            NV
29                                               82.3            NH
30                                               78.5            NJ
31                                               79.0            NM