# Champlin Smith Project Milestone 2

In [53]:
import pandas as pd


file_path = "C:\\Users\\champ\\OneDrive\\Documents\\MS Data Science\\DSC550 Data Mining\\project\\train.csv"
df = pd.read_csv(file_path, sep=',', encoding='ISO-8859-1')

print(df.head(10))

       ID Customer_ID     Month             Name   Age          SSN  \
0  0x1602   CUS_0xd40   January    Aaron Maashoh    23  821-00-0265
1  0x1603   CUS_0xd40  February    Aaron Maashoh    23  821-00-0265
2  0x1604   CUS_0xd40     March    Aaron Maashoh  -500  821-00-0265
3  0x1605   CUS_0xd40     April    Aaron Maashoh    23  821-00-0265
4  0x1606   CUS_0xd40       May    Aaron Maashoh    23  821-00-0265
5  0x1607   CUS_0xd40      June    Aaron Maashoh    23  821-00-0265
6  0x1608   CUS_0xd40      July    Aaron Maashoh    23  821-00-0265
7  0x1609   CUS_0xd40    August              NaN    23    #F%$D@*&8
8  0x160e  CUS_0x21b1   January  Rick Rothackerj   28_  004-07-5839
9  0x160f  CUS_0x21b1  February  Rick Rothackerj    28  004-07-5839

  Occupation Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  \
0  Scientist      19114.12            1824.843333                  3  ...
1  Scientist      19114.12                    NaN                  3  ...
2  Scientist      19114.12                    NaN                  3  ...
3  Scientist      19114.12                    NaN                  3  ...
4  Scientist      19114.12            1824.843333                  3  ...
5  Scientist      19114.12                    NaN                  3  ...
6  Scientist      19114.12            1824.843333                  3  ...
7  Scientist      19114.12            1824.843333                  3  ...
8    _______      34847.84            3037.986667                  2  ...
9    Teacher      34847.84            3037.986667                  2  ...

   Credit_Mix  Outstanding_Debt Credit_Utilization_Ratio  \
0           _            809.98                26.822620
1        Good            809.98                31.944960
2        Good            809.98                28.609352
3        Good            809.98                31.377862
4        Good            809.98                24.797347
5        Good            809.98                27.262259
6        Good            809.98                22.537593
7        Good            809.98                23.933795
8        Good            605.03                24.464031
9        Good            605.03                38.550848

      Credit_History_Age  Payment_of_Min_Amount Total_EMI_per_month  \
0  22 Years and 1 Months                     No           49.574949
1                    NaN                     No           49.574949
2  22 Years and 3 Months                     No           49.574949
3  22 Years and 4 Months                     No           49.574949
4  22 Years and 5 Months                     No           49.574949
5  22 Years and 6 Months                     No           49.574949
6  22 Years and 7 Months                     No           49.574949
7                    NaN                     No           49.574949
8  26 Years and 7 Months                     No           18.816215
9  26 Years and 8 Months                     No           18.816215

  Amount_invested_monthly                 Payment_Behaviour  \
0       80.41529543900253   High_spent_Small_value_payments
1      118.28022162236736    Low_spent_Large_value_payments
2         81.699521264648   Low_spent_Medium_value_payments
3       199.4580743910713    Low_spent_Small_value_payments
4      41.420153086217326  High_spent_Medium_value_payments
5      62.430172331195294                            !@9#%8
6       178.3440674122349    Low_spent_Small_value_payments
7      24.785216509052056  High_spent_Medium_value_payments
8        104.291825168246    Low_spent_Small_value_payments
9       40.39123782853101   High_spent_Large_value_payments

      Monthly_Balance Credit_Score
0  312.49408867943663         Good
1  284.62916249607184         Good
2   331.2098628537912         Good
3  223.45130972736786         Good
4  341.48923103222177         Good
5   340.4792117872438         Good
6   244.5653167062043         Good
7  358.12416760938714     Standard
8  470.69062692529184     Standard
9   484.5912142650067         Good

[10 rows x 28 columns]

C:\Users\champ\AppData\Local\Temp\ipykernel_33312\3130938201.py:5: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, sep=',', encoding='ISO-8859-1')

In [54]:
# Filter out invalid ages
df['Age'] = pd.to_numeric(df['Age'], errors='coerce').astype('float')
df = df[(df['Age'] >= 0) & (df['Age'] <= 115)]
print(df.head(10))

        ID Customer_ID     Month             Name   Age          SSN  \
0   0x1602   CUS_0xd40   January    Aaron Maashoh  23.0  821-00-0265
1   0x1603   CUS_0xd40  February    Aaron Maashoh  23.0  821-00-0265
3   0x1605   CUS_0xd40     April    Aaron Maashoh  23.0  821-00-0265
4   0x1606   CUS_0xd40       May    Aaron Maashoh  23.0  821-00-0265
5   0x1607   CUS_0xd40      June    Aaron Maashoh  23.0  821-00-0265
6   0x1608   CUS_0xd40      July    Aaron Maashoh  23.0  821-00-0265
7   0x1609   CUS_0xd40    August              NaN  23.0    #F%$D@*&8
9   0x160f  CUS_0x21b1  February  Rick Rothackerj  28.0  004-07-5839
10  0x1610  CUS_0x21b1     March  Rick Rothackerj  28.0  004-07-5839
11  0x1611  CUS_0x21b1     April  Rick Rothackerj  28.0  004-07-5839

   Occupation Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  \
0   Scientist      19114.12            1824.843333                  3  ...
1   Scientist      19114.12                    NaN                  3  ...
3   Scientist      19114.12                    NaN                  3  ...
4   Scientist      19114.12            1824.843333                  3  ...
5   Scientist      19114.12                    NaN                  3  ...
6   Scientist      19114.12            1824.843333                  3  ...
7   Scientist      19114.12            1824.843333                  3  ...
9     Teacher      34847.84            3037.986667                  2  ...
10    Teacher     34847.84_            3037.986667                  2  ...
11    Teacher      34847.84                    NaN                  2  ...

    Credit_Mix  Outstanding_Debt Credit_Utilization_Ratio  \
0            _            809.98                26.822620
1         Good            809.98                31.944960
3         Good            809.98                31.377862
4         Good            809.98                24.797347
5         Good            809.98                27.262259
6         Good            809.98                22.537593
7         Good            809.98                23.933795
9         Good            605.03                38.550848
10           _            605.03                33.224951
11        Good            605.03                39.182656

        Credit_History_Age  Payment_of_Min_Amount Total_EMI_per_month  \
0    22 Years and 1 Months                     No           49.574949
1                      NaN                     No           49.574949
3    22 Years and 4 Months                     No           49.574949
4    22 Years and 5 Months                     No           49.574949
5    22 Years and 6 Months                     No           49.574949
6    22 Years and 7 Months                     No           49.574949
7                      NaN                     No           49.574949
9    26 Years and 8 Months                     No           18.816215
10   26 Years and 9 Months                     No           18.816215
11  26 Years and 10 Months                     No           18.816215

   Amount_invested_monthly                 Payment_Behaviour  \
0        80.41529543900253   High_spent_Small_value_payments
1       118.28022162236736    Low_spent_Large_value_payments
3        199.4580743910713    Low_spent_Small_value_payments
4       41.420153086217326  High_spent_Medium_value_payments
5       62.430172331195294                            !@9#%8
6        178.3440674122349    Low_spent_Small_value_payments
7       24.785216509052056  High_spent_Medium_value_payments
9        40.39123782853101   High_spent_Large_value_payments
10       58.51597569589465   High_spent_Large_value_payments
11       99.30622796053305   Low_spent_Medium_value_payments

       Monthly_Balance Credit_Score
0   312.49408867943663         Good
1   284.62916249607184         Good
3   223.45130972736786         Good
4   341.48923103222177         Good
5    340.4792117872438         Good
6    244.5653167062043         Good
7   358.12416760938714     Standard
9    484.5912142650067         Good
10  466.46647639764313     Standard
11   465.6762241330048         Good

[10 rows x 28 columns]

In [55]:
# Dropping PII fields - not needed as we have a unique identifier to derive these fields if needed in future
df = df.drop(columns=['Name', 'SSN'])

In [56]:
# Clean the Annual Income column
df = df[~df['Annual_Income'].astype(str).str.endswith('_')]
df['Annual_Income'] = pd.to_numeric(df['Annual_Income'], errors='coerce')

In [57]:
# Get the Median Annual Income for the person's occupation, and then get the difference between their income and their occupation's median.
# This will show is where they are in the occupation's "Salary Band" and might give us info on if they are high performing or not which might impact credit score.
median_income_by_occ = df.groupby('Occupation')['Annual_Income'].median().rename('Median Occupation Income')
df = df.join(median_income_by_occ, on='Occupation')
df['Income vs Occupation Median'] = df['Annual_Income'] - df['Median Occupation Income']

print(df.head(10))

        ID Customer_ID     Month   Age Occupation  Annual_Income  \
0   0x1602   CUS_0xd40   January  23.0  Scientist       19114.12
1   0x1603   CUS_0xd40  February  23.0  Scientist       19114.12
3   0x1605   CUS_0xd40     April  23.0  Scientist       19114.12
4   0x1606   CUS_0xd40       May  23.0  Scientist       19114.12
5   0x1607   CUS_0xd40      June  23.0  Scientist       19114.12
6   0x1608   CUS_0xd40      July  23.0  Scientist       19114.12
7   0x1609   CUS_0xd40    August  23.0  Scientist       19114.12
9   0x160f  CUS_0x21b1  February  28.0    Teacher       34847.84
11  0x1611  CUS_0x21b1     April  28.0    Teacher       34847.84
12  0x1612  CUS_0x21b1       May  28.0    Teacher       34847.84

    Monthly_Inhand_Salary  Num_Bank_Accounts  Num_Credit_Card  Interest_Rate  \
0             1824.843333                  3                4              3
1                     NaN                  3                4              3
3                     NaN                  3                4              3
4             1824.843333                  3                4              3
5                     NaN                  3                4              3
6             1824.843333                  3                4              3
7             1824.843333                  3                4              3
9             3037.986667                  2                4              6
11                    NaN                  2                4              6
12            3037.986667                  2                4              6

    ... Credit_Utilization_Ratio      Credit_History_Age  \
0   ...                26.822620   22 Years and 1 Months
1   ...                31.944960                     NaN
3   ...                31.377862   22 Years and 4 Months
4   ...                24.797347   22 Years and 5 Months
5   ...                27.262259   22 Years and 6 Months
6   ...                22.537593   22 Years and 7 Months
7   ...                23.933795                     NaN
9   ...                38.550848   26 Years and 8 Months
11  ...                39.182656  26 Years and 10 Months
12  ...                34.977895  26 Years and 11 Months

    Payment_of_Min_Amount Total_EMI_per_month Amount_invested_monthly  \
0                      No           49.574949       80.41529543900253
1                      No           49.574949      118.28022162236736
3                      No           49.574949       199.4580743910713
4                      No           49.574949      41.420153086217326
5                      No           49.574949      62.430172331195294
6                      No           49.574949       178.3440674122349
7                      No           49.574949      24.785216509052056
9                      No           18.816215       40.39123782853101
11                     No           18.816215       99.30622796053305
12                     No           18.816215      130.11542024292334

                   Payment_Behaviour     Monthly_Balance Credit_Score  \
0    High_spent_Small_value_payments  312.49408867943663         Good
1     Low_spent_Large_value_payments  284.62916249607184         Good
3     Low_spent_Small_value_payments  223.45130972736786         Good
4   High_spent_Medium_value_payments  341.48923103222177         Good
5                             !@9#%8   340.4792117872438         Good
6     Low_spent_Small_value_payments   244.5653167062043         Good
7   High_spent_Medium_value_payments  358.12416760938714     Standard
9    High_spent_Large_value_payments   484.5912142650067         Good
11   Low_spent_Medium_value_payments   465.6762241330048         Good
12    Low_spent_Small_value_payments   444.8670318506144         Good

    Median Occupation Income Income vs Occupation Median
0                   40078.08                   -20963.96
1                   40078.08                   -20963.96
3                   40078.08                   -20963.96
4                   40078.08                   -20963.96
5                   40078.08                   -20963.96
6                   40078.08                   -20963.96
7                   40078.08                   -20963.96
9                   35659.07                     -811.23
11                  35659.07                     -811.23
12                  35659.07                     -811.23

[10 rows x 28 columns]

In [58]:
# Create dummy variables for occupation
df = pd.get_dummies(df, columns=['Occupation'], prefix='Occ')

In [59]:
# Clean Interest rate outliers
df = df[df['Interest_Rate'] <= 50]

In [60]:
# Clean Number of credit card outliers
df = df[df['Num_Credit_Card'] <= 30]

In [61]:
# Clean Number of loan outliers
df['Num_of_Loan'] = pd.to_numeric(df['Num_of_Loan'], errors='coerce').astype('float')
df = df[df['Num_of_Loan'] <= 15]